/problema4/Problema4/nbproject/private/
/problema4/Problema4/build/
/problema2/Problema2/nbproject/private/
/problema2/Problema2/build/
/problema1/Problema1/nbproject/private/
/problema3/Problema3/nbproject/private/
/problema1/problema1/Problema/build/
/problema1/problema1/Problema/nbproject/private/
/problema1/taller4/build/
/problema1/taller4/nbproject/private/
/problema3/problema03/build/
/problema3/problema03/dist/
/problema3/problema03/nbproject/private/
/problema1/Problema1/build/
